<footer class="footer">

  <a href="#inicio" class="footer-linkhome"> <img src="./assets/images/ico-arrow.svg" title="Volver al inicio" alt="go up arrow" ></i></a>
  <nav>
    <ul class="footer__menu">
        <li><a href="https://adalab.es/" class="menu-link">books</a></li>      
        <li><a href="https://adalab.es/"class="menu-link">articles</a></li>
        <li><a href="https://adalab.es/"class="menu-link">events</a></li>
        <li><a href="https://adalab.es/"class="menu-link">reasons</a></li>
        <li><a href="https://adalab.es/" class="menu-link">tips</a></li>
      </ul>
    </nav>
  <nav>
      <ul class="footer__menu--second">
        <li><a href="https://adalab.es/"class="menu-link">twitter</a></li>
        <li><a href="https://adalab.es/" class="menu-link">instagram</a></li>
        <li><a href="https://adalab.es/" class="menu-link">mastodon.social</a></li>
      </ul>
    </nav>
      
    
  <div class="footer-copy">
  <p> &copy;2021</p> 
  <p>We <i class="fas fa-heart"> </i>components</p>
  
</div>
    
</footer>
