<footer class="footer">

  <a class="footer-linkhome" href="#inicio" > <img src="./assets/images/ico-arrow.svg" title="Volver al inicio" alt="go up arrow" ></i></a>
  
  <div class="container">
    <nav>
      <ul class="container-menu">
          <li><a href="https://adalab.es/
          "class="menu-link"target="_BLANK" title="Go to Adalab">articles</a></li>
          <li><a href="https://adalab.es/" class="menu-link"target="_BLANK" title="Go to Adalab">books</a></li>
          <li><a href="https://adalab.es/" class="menu-link"target="_BLANK" title="Go to Adalab">events</a></li>
          <li><a href="https://adalab.es/" class="menu-link"target="_BLANK" title="Go to Adalab">reasons</a></li>
          <li><a href="https://adalab.es/" class="menu-link"target="_BLANK" title="Go to Adalab">tips</a></li>
        </ul>
      </nav>
    <nav>
        <ul class="container-second">
          <li><a href="https://adalab.es/" class="menu-link" target="_BLANK" title="Go to Adalab">twitter</a></li>
          <li><a href="https://adalab.es/" class="menu-link" target="_BLANK" title="Go to Adalab">instagram</a></li>
          <li><a href="https://adalab.es/" class="menu-link" target="_BLANK" title="Go to Adalab">mastodon.social</a></li>
        </ul>
      </nav> 


      <div class="footer-copy">
        &copy;2021 <p>We <i class="fas fa-heart"> </i> components </p> </div>
  </div>


  </footer>
