<header class="header" id="inicio">

    <nav class="header__menu">
      <a href="https://adalab.es/">
        <img
          class="header__menu--icon"
          src="./assets/images/ico-menu.svg"
          alt="Burger menu" title="Ir a Adalab"
        />
      </a>
    </nav>

    
      <h1 class="header__text--main">anonymous proxy</h1>
      <h2 class="header__text--second">In hac habitasse platea dictums</h2>
   
    
      <a class="header__button" href="#reason"> <img src="./assets/images/ico-scroll-down.svg" alt="Scroll down" title="Scroll down" /> </a>

  
</header>
