<header class="header">
  <div class="container">
    <img
      class="container__pic"
      src="./assets/images/cover.jpg"
      alt="New york city landscape"
    />
    <div class="container__menu">
      <a href="https://adalab.es/">
        <img
          class="container__menu--icon"
          src="./assets/images/ico-menu.svg"
          alt="Burger menu"
        />
      </a>
    </div>
    <div class="container__text">
      <h1 class="container__text--main">anonymous proxy</h1>
      <h2 class="container__text--second">In hac habitasse platea dictums</h2>
    </div>
    <button class="container__button">
      <img src="./assets/images/ico-scroll-down.svg" alt="Scroll down" />
    </button>
  </div>
</header>
