<main class=main>
    <div class="tip"> <small >insomnia tips</small></div>

    <section class="main__principal">
    <article><h2>looking through a window </h2>
    <p> Donec accusam, nulla ut volutpat porttitor,quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum</p>
    <input type="button" value="go">
    </article>
    
    </section>
    <section class="main_second">
        <h2>3 reasons to purchase</h2>
        <h5>Ut sed metus</h5>
        <p> Lorem ipsum dolor sit amet consectetur </p>
        <h5>Curabitur ac erat</h5>
        <p>Mauris mattis urna quis lorem molestie.</p>
        <h5>Morbi dictum</h5>
        <p>Aliquam in dolor et dolor tincidunt</p>
    
        <input type="button" value="More reasons">
    </section>
</main>