.footer {
  background-color: #304268;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;}

.footer-linkhome {
  width: 45px;
  height: 45px;
  line-height: 55px;
  text-align: center;
  background-color: $color-headFooter;
  border-radius: 50%;
  transform: translateY(-50%);}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width:720px) {
      flex-direction: row;
    align-items: flex-start;
  justify-content: space-around;}
  @media (min-width:1140px){ width: 60%;
  }}
 .container-menu{
    list-style-type: none;
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: 720px) 
    {line-height:10px;padding: auto; 
      text-align: left;
    }
  }
.container-second {
      list-style-type: none;
      text-align: center;
      @media (min-width: 720px) { text-align: left;}
      }

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: $font-text;
  color: $color-headFooter;
  line-height: 1.5;
}

.footer-copy {
  margin-top: 30px;
  margin-bottom: 15px;
  color: $color-headFooter;
  text-align: center;
  display: flex;
  flex-direction: column;
  @media (min-width:720px){
  order:-1; text-align: left; margin-top: 0px;}}

.fa-heart {
  color: red;
  font-size: 10px;
}